.container {
  padding-bottom: 1.5rem;
}

.title {
  margin-bottom: 1rem;
  margin-top: 0;
}

.link {
  color: #fff;
  display: block;
  margin-bottom: 0.5rem;
}

.link:hover {
  color: var(--primary-color);
}
