.pill {
  background-color: var(--fluid-color);
  border-radius: 100px;
  color: var(--primary-color);
  padding: 0.15rem 0.75rem;
  text-decoration: none;
}

.pill:hover {
  text-decoration: underline;
}
