.blogPosts {
  display: grid;
}

.divider {
  background-color: var(--fluid-color);
  height: 1rem;
}

.thumbnail:last-child > .divider {
  display: none;
}

@media screen and (min-width: 768px) {
  .divider {
    display: none;
  }

  .blogPosts {
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .blogPosts {
    grid-template-columns: repeat(4, 1fr);
  }
}
