.container {
  border: 1px solid var(--fluid-color);
  transition: background-color 0.35s;
}

.container:hover {
  background-color: var(--fluid-color);
}

.photo {
  height: auto;
  margin-bottom: 0.5rem;
  object-fit: cover;
  width: 100%;
}

.details {
  padding: 0 1rem 1rem 1rem;
}

.link {
  color: var(--primary-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.title {
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
  margin-top: 0.5rem;
  text-align: center;
  text-transform: capitalize;
}

.description {
  color: var(--link-color);
  font-weight: 200;
  margin-bottom: 1rem;
  margin-top: 0;
}

.footer {
  font-size: 0.75rem;
}

.author::before {
  content: '— ';
}
.date {
  font-weight: 200;
  float: right;
}

@media screen and (min-width: 768px) {
  .title {
    text-align: left;
  }
}
