.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.icon {
  color: var(--link-color);
  font-size: 6rem;
  outline: none;
}

.icon:hover {
  color: var(--primary-color);
  scale: 1.2;
  transition: all 0.65s;
}

@media screen and (min-width: 768px) {
  .icon {
    font-size: 8rem;
  }
}
